OLD\ versions/*
debug/*
Atual/*.DEBUG
Atual/parametros.txt
Atual/notificar
*/*debug*
*/*DEBUG*
em-teste/*
Atual/*.Compilar*
code_refactore
documentos/correcoes.txt
extras/cria*
extras/lista*
python/*
codigo_refatorado.rar